.sidenavEstatico
{
    transform: translateX(0px);
}

#container {
    padding-left: 300px; 
    
  }
  
#content {
    padding: 20px; 
}

@media only screen and (max-width : 992px) {
    #container {
      padding-left: 0px;
    }
  } 

  .scroller {
	padding-top: 0;
	margin-top: 0;
	height: 120px;
	width: 250%; 
	overflow-y: scroll;
}
.scroller2{
	padding-top: 0;
	margin-top: 0;
	height: 295px;
	width: 250%; 
	overflow-y: scroll;
}
.sinPub{
		text-align: center;
}

.espacioClientes{
	padding-top: 0;
	margin-top: 0;
	height: 200px;
	width: 250%; 
	overflow-y: scroll;
}

#sidenav2{
	width: 300px;
	height: 137px;
}


@media only screen and (min-width : 992px) {
    .modal-small{
      width: 25%;
    }
    .modal-large{
      width: 85%;
    }
  } 

 .mosaico{
 	width: 100% !important;
 	height: 140px;
 }

.mb-5 {
  margin-bottom: 35px !important;
}
.mt-5 {
  margin-top: 35px !important;
}
.ml-5 {
  margin-left:  35px !important;
}
.mr-5 {
  margin-right:   35px !important;
}
.break-word {
   overflow-wrap: break-word !important; 
}
